<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6"> <!-- Title -->
        <h1><a href="" class="title"> Spring Blog </a></h1>
      </div>
      <div class="col-md-3" *ngIf="authService.isAuthenticated()">
        <a routerLink="/add-post" routerLinkActive="active" class="new-post">Add Post</a>
        <button class="logout btn btn-default" (click)="logout()">Logout</button>
      </div>
      <div class="col-md-3" *ngIf="!authService.isAuthenticated()"> <!-- Login and Register -->
        <a routerLink="/login" routerLinkActive="active" class="login btn btn-default">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="register btn btn-default">Register</a>
      </div>
    </div>
  </div>
</div>
